.ViewAccount {
    text-align: center;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 130vh;

}
.ViewAccount-Title{
  margin-bottom: 20px;
  font-size: 30px;
  margin-top: 50px;
}
.ViewAccount-Fields {
  background-color: white;
  padding: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 450px;
}

h3, p{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(71, 71, 71);
  margin-left: 10px;
}

